html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../web-images/grid.png");
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (max-width: 600px) {
  body {
  }
}
