html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../web-images/grid.png");
  height: 100%;
  width: 100%;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  color: black;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#home-key {
  display: block;
  margin: auto;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  width: 4%;
}

#home-key:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
  }
}
