html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../web-images/grid.png");
  height: 100%;
  background-color: white;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  color: black;
  font-family: "Roboto", sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

#name {
  color: white;
  background: black;
  padding: 5px;
  font-size: 1.5vw;
  position: absolute;
  left:0.75%;
}

#key {
  top:2%;
  left:95.8%;
  position: absolute;
  width: 3%;
}

#projects-title {
  font-size: 10vw;
  top:-5%;
  left: 5%;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

#projects-title:hover {
  background: #73c2fb;
}

#assignments-title {
  font-size: 6vw;
  top:30%;
  left:42%;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  letter-spacing: 1vw;
}

#assignments-title:hover {
  background: #f46a4e;
}

#try-outs-title {
  font-size: 9vw;
  top:35%;
  left:12%;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

#try-outs-title:hover {
  background: #ffd700;
}

#about-title {
  font-size: 4vw;
  top: 13%;
  left: 72%;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

#about-title:hover {
  background: #737efb;
}

#contact {
  font-size: 1.5vw;
  top: 70%;
  left:60%;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

#email:hover,
#phone:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
  }
}
