html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../web-images/grid.png");
  height: 100%;
  background-color: white;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  color: black;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

#name {
  color: white;
  background: black;
  padding: 5px;
  font-size: 1.5vw;
  position: fixed;
  left: 96%;
}

#key {
  top: 1.5%;
  left: 0.5%;
  position: fixed;
  width: 3.25%;
}

.projects {
  top: 20%;
  left: 5%;
  position: fixed;
}

#projects-title {
  font-size: 10vw;
  background: white;
  margin-bottom: 0;
  padding: 10px;
}

#projects-title:hover {
  background: #73c2fb;
}

#projects-text {
  display: none;
  font-size: 2vw;
  background: white;
  margin-top: 0;
  padding: 10px;
}

.assignments {
  top: 3%;
  left: 43%;
  position: fixed;
}

#assignments-title {
  font-size: 6vw;
  letter-spacing: 1vw;
  background: white;
  margin-bottom: 0;
  padding: 10px;
}

#assignments-title:hover {
  background: #f46a4e;
}

#assignments-text {
  display: none;
  font-size: 2vw;
  background: white;
  margin-top: 0;
  padding: 10px;
}

.try-outs {
  top: 28%;
  left: 65%;
  position: fixed;
}

#try-outs-title {
  font-size: 9vw;
  background: white;
  margin-bottom: 0;
  padding: 10px;
}

#try-outs-title:hover {
  background: #ffd700;
}

#try-outs-text {
  display: none;
  font-size: 1.75vw;
  background: white;
  margin-top: 0;
  padding: 10px;
}

.about {
  top: 8%;
  left: 15%;
  position: fixed;
}

#about-title {
  font-size: 4vw;
  background: white;
  margin-bottom: 0;
  padding: 10px;
}

#about-title:hover {
  color: white;
  background: black;
  width: 420px;
}

#about-text {
  display: none;
  font-size: 1vw;
  background: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.limit {
  max-width: 420px;
  word-wrap: break-word;
}

#about-image {
  display: none;
  margin-top: 0;
  border: 10px solid white;
}

#contact {
  font-size: 1.5vw;
  top: 75%;
  left: 28%;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: white;
}

#email:hover,
#social:hover {
  background-color: black;
  color: white;
}

.inline {
  display: inline;
}

@media only screen and (max-width: 600px) {
  #name {
    color: white;
    background: black;
    padding: 2px;
    font-size: 3vw;
    position: fixed;
    left: 90%;
  }

  #key {
    top: 1%;
    left: 1%;
    position: fixed;
    width: 6%;
  }

  .projects {
    top: 30%;
    left: 5%;
    position: fixed;
  }

  #projects-title {
    font-size: 14vw;
    background: white;
    margin-bottom: 0;
    padding: 5px;
  }

  #projects-title:hover {
    background: #73c2fb;
  }

  #projects-text {
    display: none;
    font-size: 3vw;
    background: white;
    margin-top: 0;
    padding: 5px;
  }

  .assignments {
    top: 20%;
    left: 30%;
    position: fixed;
  }

  #assignments-title {
    font-size: 8vw;
    letter-spacing: 1vw;
    background: white;
    margin-bottom: 0;
    padding: 5px;
  }

  #assignments-title:hover {
    background: #f46a4e;
  }

  #assignments-text {
    display: none;
    font-size: 3vw;
    background: white;
    margin-top: 0;
    padding: 5px;
  }

  .try-outs {
    top: 50%;
    left: 45%;
    position: fixed;
  }

  #try-outs-title {
    font-size: 12vw;
    background: white;
    margin-bottom: 0;
    padding: 5px;
  }

  #try-outs-title:hover {
    background: #ffd700;
  }

  #try-outs-text {
    display: none;
    font-size: 3vw;
    background: white;
    margin-top: 0;
    padding: 5px;
  }

  .about {
    top: 10%;
    left: 20%;
    position: fixed;
  }

  #about-title {
    font-size: 6vw;
    background: white;
    margin-right: 0;
    margin-bottom: 0;
    padding: 5px;
  }

  #about-title:hover {
    color: white;
    background: black;
    width: 200px;
  }

  #about-text {
    display: none;
    font-size: 2vw;
    background: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
  }

  .limit {
    max-width: 200px;
    word-wrap: break-word;
  }

  #about-image {
    display: none;
    margin-top: 0;
    border: 5px solid white;
    width: 60%
  }

  #contact {
    font-size: 3vw;
    top: 80%;
    left: 15%;
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background: white;
  }

  #email:hover,
  #social:hover {
    background-color: black;
    color: white;
  }

  .inline {
    display: inline;
  }
}
