html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.content {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
}

.animate-typing {
  display: block;
  margin: auto;
  font-size: 4vw;
}

p {
  display: block;
  margin-top: 15px;
  margin-bottom: 75px;
}

#key {
  display: block;
  margin: auto;
  position: relative;
  width: 15%;
  filter: invert(100);
}

#key:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  body {
}
