html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.content {
  display: block;
  margin: 20%;
  position: absolute;
}

.animate-typing {
  font-size: 72px;
}

p {
  font-size: 32px;
  padding-bottom: 5%;
}

#key {
  display: block;
  margin: auto;
  position: relative;
  width: 15%;
  filter: invert(100);
}

#key:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  body {
  }
}
