html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-size: 2vw;
  font-family: helvetica;
  font-weight: lighter;
  text-align: left;
}

.content {
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  position: absolute;
}

.animate-typing {
  display: block;
  margin: auto;
  font-size: 5vw;
  padding: 5%;
}

#key {
  display: block;
  margin: auto;
  position: relative;
  width: 8%;
  filter: invert(100);
}

#key:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  body {
  }
}
