html,
body {
  margin: 125px;
  padding: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.animate-typing {
  font-size: 72px;
}

p {
  margin-top: 10px;
}

#key {
  display: block;
  margin: auto;
  filter: invert(100);
}

#key:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
